* {
	padding: 0;
	margin : 0;
	
}

h1 {
	line-height: 0em;
}

body {
	touch-action: none;
	overflow: auto;
}
img, video {
	
	object-fit: contain;
	max-height: 560px;
	margin : 0;
	padding : 0;
	display: block;

}

a  {
	text-decoration: none;
}

a:hover {
	color:  #00F;
	text-decoration: underline;
}

.asset-media-container {
	min-height: 355px;
	overflow: hidden;
}

.asset-media {
	position: absolute;
	top: 0;
	visibility: hidden;

}


.asset-media video {
	position: relative;
	z-index: 30
}
*[visible="false"] {
	display: none !important;
}

*[toggled="false"] *[visible_if_toggled] {
	display: none !important;
}

*[toggled="true"] *[hidden_if_toggled] {
	display: none !important;
}

input {
	padding : 0.5em;
	width : 250px;
}

input[type="submit"] {
	width: 150px;
}


.description {
	text-align : center;
}



.photo-container {
	height: 100vh;
	max-height: 100vh;
	display: flex;
	margin:0;
}

p#artwork-state {
	margin: 1em 0 0 0;
}


#selection {
	display : none;
	overflow: scroll;
}


#selection .meta {
	padding: 6em;
}

main {
	display: flex;
	min-height: 100vh;
	min-width: 100vw;
	justify-content: center;
	align-items: center;
}

main > section {
	display: none;
}

section#splash {
	line-height: auto;
	max-width: 1200px;

}

h1,h2,h3,h4,h5 {
	line-height: auto;
}

h1 {
	font-size: 3em;
	line-height: 1.3em;
	font-weight: bold;
}

h2 {font-size: 2em;line-height: 1.5em}
h3 {font-size: 1.8em; line-height: 1.3em}
h4 {font-size: 1.5em; line-height: 2em}
h5 {font-size: 1em; line-height: 2.5em}

.asset-artist {
	display: block;
	letter-spacing: -0.14rem;
}
.asset-artist:before  {
	content: "By ";
	letter-spacing: 0
}

.display-on-focus-only {
		display: none
}

body[mode='splash'] #splash {
	display: block;
}

body[mode='splash'] #asset-viewer  {
	display: none;
}

#asset-viewer {
	display: block
}

body[mode='focus'] #asset-viewer,
body[mode='grid'] #asset-viewer {
	display: block;
}



body[blank_assets='false' ] .blank {
	display: none;
}

.focus h1 {
	margin : 4em;
}

.focus.blank {
	display: block !important;
}

.focus .asset  {
	display: flex !important;
	justify-content: left;
}


.property-set {
	display: flex;
	flex-direction: row;
	margin : 1em 0;
}

.property-block{
	position: relative;
	margin : 1rem  1rem 1rem  0 ;
	min-width: 100px;
}

.property-block h5 {
	line-height: 1.3rem;
	border-bottom : solid 1px;
	margin: 0 0 0.4rem 0;
	display: inline;
}

.property-block p, .property-block p span {
	font-weight: 500;
	margin:0.5em 0 0 0;
}

.property.btc:after  {
	content : "BTC";
}




.asset-media  {

	display: flex;
	align-items: center;
	justify-content: center;
}

.asset-artist {
	cursor: pointer;
}

.asset[shell="true"]  .property-block {
	display: none;
}

.property-block a  {
	display: block;
}



.cta-next-page {
	flex: 0 0 100%;
}

#session {
	position: fixed;
	top : 0;
	left : 0;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#session.active {
	display: flex;

}

#session  form {
	width : 560px;
	margin:  0 auto;
	background: #028;
	padding: 2em;
	color: #FFF;
}

#session form input {
	display: block;
}

@media (min-width: 1200px) {
	.collection {
		min-width: 1200px;
	}	
}

@media (min-width: 768px) {


	.focus .asset  {
		flex-direction: row-reverse ;
	}
	.focus .asset-image img,
	.focus .asset-image video,
	.focus .asset-image iframe{
		min-width: 400px;
	}


    .asset-description {
    	margin: 0 0 0 2em;
    	font-size : 1em;
    }

    .asset-details {
    	min-width: 600px;
    }
}

.selected #selection {
	display : block;
}

.collection {
	display: flex;
}




.collection .asset {
	cursor: pointer;
	padding: 0;	
	position: relative;
}

.collection .asset-name {
	overflow-wrap: anywhere;
}
.collection .asset-media img {
	width: 100%;

}

.collection .asset-media * {
	max-height: 400px;
}

.collection-title {
	flex: 0 0 100%;
	text-align: left;

}

.collection-item:hover {
	z-index : 999;

}


.asset-meta,
.asset-details {
	position: relative;
	text-align: left;
	margin : 0 0 1.2em 0;
	flex-grow: 1;
	/*top : 0em;
	right: 0;*/

}

	

*[data="null"],
*[data="NaN"] {
	display: none !important;
}

.collection .asset-details  {
	display: none;
}

/*body[mode="focus"] .asset-details  {
	display: block;
}*/



.collection-item-title {
	font-weight: 500;
	display: inline-block;
}

/* ASSET GROUP ICON */

.asset-meta .icon {
	position: absolute;
	left: -25px;
	top: 0;
}

.asset-meta .icon,
.asset-meta .icon img{
	width: 20px;
	height: 20px;
}
.asset-details .icon {
	font-size: 1em;
	padding: 0rem;
	background: none;
	color: #FFF;
	position: absolute;
	left: -72px;
	top: 0em;
	width: 60px;
	text-align: right;	
}


.asset-details .icon img {
	width: 40px;
	height: 40px;
}

/* */

.asset-meta .asset-quantity {
	display: inline-block;
}

.asset-meta .asset-quantity:before {
	/*content: "x ";*/
}

.asset-details .asset-quantity {
	font-size: 1em;
	padding: 0.3rem;
	background: #459;
	color: #FFF;
	position: absolute;
	left: -80px;
	top: 0.3em;
	width: 60px;
	text-align: right;
}


.asset-details .asset-quantity:after {
	content: "x";
}

.collection-item-description {
	display: none;
}

.collection-item-quantity {
	
	font-size: 1em;
	/*font-weight: 800;*/
	/*position: absolute;*/
	
	z-index: 99999
}



.collection-item + .collection-item {
    position: absolute;
}

.collection-item-image {
	width: 100%;
	line-height: 0;
	max-width: none;
    border-radius : 0.75em;
    /*overflow: hidden;*/
}

.collection .asset-media-container {
	position : relative;
	max-width: 400px;
	height: auto;
	display: block;
	margin : 0 0 1.5em 0;
}


#templates {
	display: none;
}
.block {
    position: relative;
    min-height: 400px;
    /*min-width: 400px;*/
    padding: 2em;
    background  :  #FFF;
    border: solid 1px #FFF;
}

.collection .block:hover  {
	border: solid 1px #39c;
}

#settings-nav {
	
	position: fixed;
	right : 0;
	top: 0;
	text-align: right;
	
}

#settings-nav.active {
	background: #028;
	color : #eddeed;
}

#settings-nav.active a {
	color : #eddeed;
	display: block;
}

#settings-nav.active > a {
	font-weight: bold;
}

#settings-nav.active a:hover {
	color: #FFF;
}

#settings-nav .menu {
	display: none;
	padding: 0;
	position: relative;
}

#settings-nav.active .menu {
	display: block;
}

#settings-nav  .menu a {
	/*border-top : solid 1px;*/
}
#settings-nav h6  {
	color: #fff
}
#settings-nav .addresses {
	margin : 1em 0;
}

#settings-nav .addresses a {
	font-size: 0.75em;
}


  

body .group-name {
    
    position: absolute;
    top: 0.5em;
    width: 100%;
    text-align: left; 
    font-size: 1em;
    display: none

}

.focus {
	min-width: 1000px;
	max-width: 1200px;
	margin:  0  auto;
}


.focus .asset {
	display: flex;
	min-height: auto;
	flex-direction: row-reverse;
	margin: 6em auto  0  auto;
}

.focus .asset-meta  {
	display: none;
}

.focus .asset-name {
	display: block;
	font-size: 2rem;
	text-decoration: none !important;

}


.focus .asset-media-container {
	position: relative;
	width: 50%;

}

.focus .asset-media {
	height: auto;
	min-height: 560px;
}

.asset-media-loader {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background : #efefef;
	position: absolute;
}

.asset-media-container.loaded .asset-media-loader {
	/*z-index : -1;*/
	/*position: absolute;*/
	/*display: none;*/
	background: #FFF;
}


.asset-media.loaded {
	z-index: 10;
	position: relative;
	visibility: visible;
}
.asset-media.VIDEO.loaded,
.asset-media.IFRAME.loaded {
	z-index: 20;

	/*position: absolute;*/
}


.collection .asset-media.VIDEO,
.collection .asset-media.IFRAME {
	display: none;
}


.collection .single_load .asset-media.loaded {
	display: block !important
}



.focus .asset-media.loaded ~ .asset-media.loaded {
	position: absolute;
	top: 0;
}

.focus .asset-media.VIDEO, 
.focus .asset-media.IFRAME {
	width: 100%;
}

.collection .asset-media.IMG.loaded ~ .asset-media.loaded {
	position: absolute;
	top: 0;
}

.asset-media.error {
	z-index: -1;
	position: absolute;
	display: none;
}





iframe {
	border: none;
}


	.asset-description {
	display : block;
	white-space: pre-line;
	max-width: 540px;
	margin : 1em 0 0 0;

}


.asset a {
	
}



        .scrollmagic-pin-spacer .collection-item {
        	inset: 6.5em !important;
        }

		
		.focus .asset-image {
			border-radius: 0;
		}
		.focus .parent {
			display: block
		}



		

        .collection-item + .collection-item {
            position: absolute;
            top: 0;
        }




		p + p {
			margin : 1em 0 0 0;
		}
		nav {
			position: fixed;
			z-index : 99999;
			font-size: 1em;
			padding: 2rem;
		}

		nav a {
			font-weight: 200;
			text-decoration: none;
			display: inline-block;
		}

		nav a.active {
			/*font-weight: 100;*/
		}

		#breadcrumbs {
			margin-right : 6em;
		}

		#breadcrumbs span + span:before{
			content: ".";
			margin-right: 0.2rem;
		}

		#breadcrumbs span.toggled a {
			display: none
		}

		#breadcrumbs form  {
			margin: 0;
			display: inline
		}
		/*#breadcrumbs a + a:before {
			content: ">";
		}*/


		nav#paginator {
			position: static;
		}

		#paginator a {
			display: none;
			position: fixed;
			line-height: 1em;
    		line-height: 1em;
    		top : 50%;
    		padding: 0.5em;
			max-width: 80px;
			font-size: 4em;
			text-align: center;
			color: #028;
			text-decoration: none;
			width: auto;

		}

		#cta-prev {
			left: 0em;
			padding-left: 2em;
			
		}

		#cta-next {
			right : 0em;
			padding-right: 2em
		}


		#paginator a.visible {
			display: block;
		}

		#paginator a:hover {
			color: #890;
		}

		#paginator a:active {
			color: #390;
		}


		#cta-home {
			font-weight: 800;
		}


		#project-nav {
			position: fixed;
			right: 0.5em;
			top : 0;
		}

		#about {
			display: none;
			overflow: scroll;

		}

		nav a:hover {
			background-color : #028;
		}

		.collection {
			margin : 5em auto;
			max-width: 1200px;
			flex-wrap: wrap;
		}

		.collection .asset {
			padding : 0em;
            margin :  0;
            text-decoration: none;

		}

		.collection .asset:hover .asset-name {
			text-decoration: underline;
		}







	

		.collection {
			max-width: 1200px;
			margin: 4em auto;
		}

        .collection nav {
            position: relative;
            text-align: left
        }

        .collection nav a {
            display: inline-block;;
        }

        .collection nav a + a {
            margin-left: 2em
        }

		form {
			margin : 2em auto;
		}

		form  .error-message {
			display: block;
			color:  red;
			padding: 1em 0;
		}


		

        .dispenser {
            margin : 1em 0;
        }

        .dispenser a {
            display: block;
        } 

        .dispenser .xchain {
            font-size: 0.8em
        }


#cta-next  {
	position: fixed;
	right: 0;
	top:  50%;
}
	.focus .asset-image img,
	.focus .asset-image video,
	.focus .asset-image iframe {
		object-fit: contain;
		max-height: 560px;
	
	}




@media (max-width: 767.98px) {
	body {
		touch-action: auto;
	}
	.collection {
		margin : 5em 1em 5em 1em;
		overflow: scroll;
		max-width: 100vw;
	}

	.collection .asset-media {
		height: auto;
		max-width: 80vw;

	}

	.collection .asset-media-container {
		
		min-height: 0;
	}

	.collection-title {
		padding : 0 0 0 1em;
	}

	.collection .icon {
		left: auto;
		right: 0;
	}

	.collection .asset-name {
		
		padding-right: 25px;
	}

	#selection .meta {
		padding: 2em 4em;
		margin: -4em 0 8em;
		background: #FFF;
	}

	#about .meta {
		padding: 0 4em 4em 4em;
	}

	.photo-container {
		height: auto;
		max-height: auto;
	}

	#splash {
		width: 90vw;
		margin :  0  5vw;
	}

	#splash h1 {
		
	}

	#splash h2 {
		font-size: 1.2em;
		line-height: 1.5em
	}
	#splash h3, h4, h5  {
		font-size: 1.2em;
		line-height: 1.3em
	}

	#splash h5 {
		font-size: 1em;
		margin : 1em 0 0 0;
	
	}

	form input[type="submit"] {
		margin : 1em 0 0 0;
	}

	.focus {
		max-width: 100vw;
		min-width: 100vw;
	}

	.focus .asset  {
		
		flex-direction: column !important;
	}

	.focus .asset-media-container  {
		display: flex;
		width: 100vw;
		justify-content: center;
		
	}

	.focus .asset-media  {
		text-align: left;
		max-width: 100%;
		min-height: auto;
		position: absolute;

		
	}


	nav#paginator {
		position: fixed;
		bottom : 0;
		width: 100vw;
		z-index: 99999;
	}
	#paginator a {
		top: auto;
			bottom: 0;
			background : #028;
			color : #FFF;
			width: 50vw;
			z-index: 9999;
			max-width: none;
			padding: 0;
	}

		#cta-prev {
			left: 0em;
		
		}

		#cta-next {
			right : 0em;
			background: #049;
		}


	.asset-media.loaded{
		height: auto;
	}

	.asset-media img {
		max-width: 100vw;
	}

	.asset-media.loaded {
		position: relative;
	}

	.asset-media.loaded ~ .asset-media.loaded {
		position: absolute;
	}
	
	.focus .asset-details  {
		margin :  0 0 3em 0;
		padding:  2em;
	}

	.block {
		flex: 0 0 100%;
		box-sizing: border-box;
	}

}
