* {
	color : #234;
	font-family: 'Fira Sans', sans-serif;
	font-weight : 200;
}




a, a:visited {
	color : #3138b8;
	font-weight : 100;
}
a:hover, a:hover > i , nav#social a:hover i{
	color : #F3f3ff;
}
nav {
	padding : 4rem;
	font-size: 3em;
	line-height: 1.5em;
	position : absolute;
	top : 0;
}

nav#social {
	position: absolute;
	right: 0;
	font-size: 1em;
	z-index: 999
}

nav#social a i {
	/*color: #38F;*/

}



nav a {
	display: block;
}

h1 {
	font-weight: 300;
}
body > video {
	position: absolute;
	height: 100vh;
	top : 0;
	right : 0;


}

#home > video {
	/* transform: rotate(90deg); /* Equal to rotateZ(45deg) */
	right : 8rem;
}


article {
	padding : 4rem;
	font-size : 1.3em;
	max-width: 770px;
	margin: 4em auto;

}


@media screen and (max-width: 37.5em) {
#home > video {
	
	right : 0;
}
}